In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

In [ ]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100000,encoding='utf-8', engine='python')

In [ ]:
from time import time

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)
    
    df.to_sql(name='taxi_zone_lookup_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [4]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df_zones.to_sql(name='taxi_zone_lookup_data', con=engine, if_exists='replace')

265